<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Morphyx - Inicio</title>

	<link rel="stylesheet" type="text/css" href="views/static/css/vars.css">
	<link rel="stylesheet" type="text/css" href="views/static/css/styles.css">
	
</head>
<body>

	<div id="wrapper">

		<div id="header">

			<div id="hero">
				<img src="./img/system/nav.jpeg" alt="">
			</div>
			
			<div id="control">
				<a href="panel" class="css-button-rounded--yellow">Ingresar</a>	
			</div>
			 
	
		</div>
		 
		<div id="content_">

			<div id="window">
				
				<div id="window__image">
					
				</div>

				<div id="window__description">
					
					<h1>Bienvenido a la web App_Clima</h1>
					<h4>Eesta web brinda a sus usuarios la información de como esta la temperatura en su ciudad,la precipitacion y la umedad entre otos </h4>
					<h2>Ya somos 140 usuarios, vos podes ser uno más.</h2>
					<h4>Tenemos más de 2  centrales meteorologicas que pueden brindate informacion de cualquier parte de Argentina</h4>	
				</div>

			</div>


			
		</div>
		 

		
		 
	 </div>
</body>
</html>